* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  background: #FFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: .7rem 1.5rem;
  background: rgba(0, 0, 253, 0.67);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: #FFF;

  a {
    color: #FFF;
    font-weight: 500;
  }

  &:hover {
    background: red;
  }
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: #DCDCDC;
}

p {
  font-size: 13px;
  color: #DCDCDC;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: #000;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: #000;
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .navBarOne, .navBarTwo {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navBarOne {
    background: rgba(0, 0, 253, 0.67);

    .icon:hover {
      color: rgba(232, 253, 0, 0.9);
    }

    .atb {
      gap: 1rem;

      span {
        color: #000;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: #FFF;
          font-size: 700;
        }
      }
    }
  }

  .navBarTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: .3s ease-in-out;

    .logoDiv {
      .logo {
        width: 20%;
      }
    }

    @media screen and (max-width: 768px) {
      .navBarMenu {
        position: absolute;
        background: #DCDCDC;
        padding: 1.5rem;
        border-radius: 10px;
        top: 5rem;
        right: -50%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border: 3px solid #FFF;
        transition: .4s ease-in-out;

        .menu {
          flex-direction: column;
          gap: .5rem;
          text-align: center;

          .listItem {
            padding: .5rem 0;
            cursor: pointer;
            color: #000;

            &:hover {
              color: rgba(11, 103, 204, 0.74);
              font-weight: 700;
            }
          }
        }

        .btnOne {
          display: block;
          justify-content: center;
          margin: auto;
          margin-top: 1rem;
        }
      }
      .btnTwo {
        display: none;
      }
    }

    .toggleIcon {
      .icon {
        font-size: 30px;
        color: #000;
      }
    }

    .showNavBar {
      right: 50%;
      transition: .5s ease-in-out;
    }
  }

  .navbar_With_Bg {
    background: rgba(0, 0, 252, 0.15);
    padding: .5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .mainText {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
  }

  .homeImages {
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    .videoDiv {
      width: 100%;

      .video {
        border-radius: 10rem;
      }
    }

    .plane {
      position: absolute;
      width: 100%;
      top: -10%;
    }
  }
}

.search {
  .sectionContainer {
    width: 100%;
    padding: 1.5rem;
    border: 2px solid rgba(71, 77, 82, 0.58);
    border-radius: 16px;
    row-gap: 2rem;

    .btns {
      background: rgba(0, 0, 253, 0.67);;
      padding: .5rem;
      border-radius: 1rem;
      flex-direction: column;
      width: 100%;
      margin: auto;

      .singleBtn {
        padding: .8rem 1.5rem;
        font-size: 13px;
        border-radius: 3rem;
        width: 80%;
        text-align: center;

        &:hover {
          background: rgba(232, 253, 0, 0.9);
          color: #000;
          font-weight: 500;
          transition: .4s ease;
        }
      }

      .active {
        background: #000;
        color: #FFF;
        font-weight: 500;
      }
    }

    .searchInputs {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;

      .singleInput {
        .iconDiv {
          padding: 16px 10px;
          border-radius: 3rem;
          background: rgba(135, 242, 169, 0.42);
          margin-right: 1rem;

          .icon {
            color: #000;
            opacity: .7;
          }
        }

        .texts {
          h4 {
            padding-top: 0;
            padding-bottom: .7rem;
            color: #000;
            font-weight: 700;
          }

          input {
            width: 95%;
            border: none;
            outline: none;
            background: transparent;
            color: #000;

            &::placeholder {
              font-size: 12px;
              opacity: .5;
            }
          }
        }
      }
    }
  }
}

.support {
  .sectionContainer {
    .tittlesDiv {
      text-align: center;

      small {
        letter-spacing: .8rem;
        text-transform: uppercase;
        font-size: 13px;
        color: #000;
        line-height: 1.5rem;
      }
    }

    .infoDiv {
      margin-top: 2rem;
      gap: 1.5rem;

      .textDiv {
        gap: 1.5rem;

        .singleInfo {
          .number {
            background: #DCDCDC;
            padding: 5px 12px;
            width: 40px;
            border-radius: 3rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            color: #000;
          }

          .colorOne {
            background: rgba(0, 252, 155, 0.54);
          }

          .colorTwo {
            background: rgba(252, 192, 0, 0.74);
          }
        }
      }

      .imgDiv {
        margin: auto;

        img {
          width: 100%;
          max-height: 420px;
        }
      }
    }
  }
}

.info {
  background: rgba(191, 203, 193, 0.15);

  .infoContainer {
    .tittlesDiv {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      justify-content: space-between;
    }

    .cardsDiv {
      gap: 1.5rem;
      margin-top: 3rem;

      .singleCard {
        background: #FFF;
        padding: 3rem 2rem;
        border-radius: 10rem;
        gap: 1rem;
        text-align: center;
        margin: auto;
        height: 320px;
        width: 90%;
        max-width: 250px;

        .iconDiv {
          justify-content: center;
          margin: auto;
          background: rgba(19, 187, 49, 0.7);
          width: max-content;
          height: 55px;
          padding: 1rem;
          border-radius: 3rem;

          .icon {
            color: #FFF;
          }
        }

        .cardTitle {
          color: #000;
          font-weight: 700;
        }

        .colorOne {
          background: rgba(29, 169, 209, 0.71);
        }

        .colorTwo {
          background: rgba(252, 192, 0, 0.74)
        }
      }
    }
  }
}

.lounge {
  .sectionContainer {
    background: rgba(191, 203, 193, 0.15);
    gap: 1.5rem;

    .imgDiv {
      margin: auto;

      img {
        width: 100%;
        max-width: 360px;
      }
    }

    .textDiv {
      .grids {
        margin-top: 1rem;
        gap: 1.5rem;

        .singleGrid {
          .gridTitle {
            display: block;
            padding-bottom: .5rem;
            font-weight: 500;
            color: #000;
          }

          .paragraphe {
            display: block;
            padding-bottom: .5rem;
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
  }
}

.travelers {
  .sectionContainer {
    text-align: center;

    .travelersContainer {
      margin-top: 1rem;
      gap: 1.5rem;

      .singleTravelers {
        position: relative;
        height: 320px;
        width: 85%;
        max-width: 250px;
        overflow: hidden;
        border-radius: 10rem;
        gap: 1rem;
        margin: auto;

        .destinationImg, .travelerImg, .travelerName {
          position: absolute;
        }

        .destinationImg {
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          object-fit: cover;
        }

        .travelerImg {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          bottom: 30px;
          left: 40%;
          transform: translateX(-50%);
          border: 5px solid #FFF;
          transition: .4s ease-in-out;
          animation: animated 2.3s infinite;
        }

        @keyframes animated {
          0% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(8px);
          }
          100% {
            transform: translateY(0px);
          }
        }

        .travelerName {
          bottom: -100%;
          width: 100%;
          height: max-content;
          background: #FFF;
          padding: 1.5rem 1rem;
          transition: .4s ease-in-out;
          animation: animatedBorders 2.3s infinite;

          span {
            display: block;
            color: #000;
            font-weight: 700;
          }

          p {
            color: rgba(36, 34, 35, 0.68);
            font-size: initial;
          }
        }

        @keyframes animatedBorders {
          0% {
            border-radius: 0rem;
          }
          50% {
            border-radius: 2rem;
          }
          100% {
            border-radius: 0rem;
          }
        }

        &:hover{
          .travelerName{
            bottom: 0;
            transition: 1s ease-in-out;
          }

          .travelerImg{
            bottom: 110px;
            transition: 1s ease-in-out;
          }
        }
      }
    }
  }
}